.userCard{
  width: 375px;
  height: 250px;
  background-color: #eee;
  padding: 0;
  margin: 0;
  position: relative;
}

.userCheckButton {
  position: absolute;
  bottom: 0;
  left: 0;
  button{
    color: rgb(0,0,0);
    font-weight: 700;
    font-family: serif;
  }
}

.button_color {
  z-index: 20;
  background-color:rgb(74, 219, 74);
}

.star {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: gold;
}