.title{
  color: #fff;
  font-style: italic;
  font-weight: 700;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 70px;
  background-color: #007bff;
}

.time{
  width: 700px;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.nav{
  display: flex;
  width: 250px;
  justify-content: space-between;
  text-align: center;
  height: 30px;
  margin: auto 0;
  padding-left: 30px;
  a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
  }
  a.active{
    text-decoration: none;  
    color: rgb(245, 255, 103);
  }
}