.title{
  color: rgb(81, 175, 113);
  font-style: italic;
  font-weight: 700;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 70px;
  border: 2px solid black;
}

.time{
  width: 700px;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.nav{
  display: flex;
  width: 250px;
  justify-content: space-between;
  text-align: center;
  height: 30px;
  margin: auto 0;
  padding-left: 30px;
  a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
  }
  a.active{
    text-decoration: none;
    color: gold;
  }
}